# Google oauth client id
GOOGLE_CLIENT_ID="your-google-client-id"
# Google oauth client secret
GOOGLE_CLIENT_SECRET="your-google-client-secret"
# The address to host the meal flow go server on
# MUST INCLUDE HOSTNAME & PORT
MEAL_FLOW_ADDR="localhost:8080"
# Indicdates if meal flow is running in development
MEAL_FLOW_DEV="true"